.Header {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.header-btn {
  margin-top: 20px;
  font-size: 1.4rem;
  width: 15rem;
  padding: 8px 4px;
  border-radius: 40px;
}
.header-btn:hover {
  background-color: rgb(215, 215, 215);
}

.Header h2{
    font-size: 40px;
}
.Header h1{
    font-size: 60px;
}
.Header p{
    font-size: 26px;
}